/* 상단 필터 선택 바 */
.filter {
  float: left;
  font-size: 35px;
  margin-top: 20px;
  margin-right: 45px;  
  padding: 20px 30px;
  border-radius: 50px;
  font-family: SeoulNamsanCed_Medium;
  border: 1px solid #9C9C9C;
  color: #9C9C9C;
  text-align: center;
  padding: 20px 20px;
  border-radius: 40px;
  margin-bottom: 50px;
}